.head{
	border: 0px black solid;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	padding: 20px;
	background-color: lightcyan;

}
.foms{
	display: block;
}
.input{
	margin: 10px;
}
.label{
	text-align: left;
}
.submit{
	border: 0px;
	border-radius: 20px;
	font-size: 17px;
	background-color: burlywood	;
	padding: 10px;
}
.sub{
	text-align:center;
}
form{
	border: 0px black solid;
	margin: auto;
	width: 50%;
	padding: 20px;
	background-color: lightblue;
}