img{
	width: 5%;
	height: 5%;
}
.head{
	display: flex;
	gap:20px;
	justify-content: center;
	place-items: center;
	background-color: #ff0000;
}
ul{
	
	overflow: hidden;
	background-color: black;
	padding: 0;
	list-style-type: none;
	margin-top: 0px;
}
li{
	float: left;
}
li a{
	display: block;
	text-decoration: none;
	justify-content: center;
	padding: 20px 20px;
	color: white;
	transition: background-color 1s ease-out 50ms	
}
.lastchild{
	float: right;
}
li a:hover{
	margin:  10px auto;
	background-color: red;
	border-radius: 30px;
	padding: 10px 20px;	

}
a{
	 border: 0px solid;
  overflow: hidden;
  position: relative;
  
  span {
    z-index: 20;
  }
  
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }

a:hover{
	
	  &:after {
    left: 120%;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  } 

}
form{
	border: 0px solid black;
	
	padding: 20px;
}


.headform{
	text-align: center;
	display:flex;
    flex-direction: column;
}

img{
	width: 50px;
}

 img:hover {
       cursor: pointer;
       
   }
   input[type=submit] {
       display: none;
   }
}
